body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


nav ul li{
    width: 160px;
    height: 33px;
    padding: 11px;
    background-color: rgb(10, 87, 87);
    color: white;
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
    float: left;
    list-style-type: none;
    cursor: pointer;
}
nav ul li:hover{
    background-color: rgb(16, 236, 236);
    color: black;
}
nav ul ul{
    margin-top: 19px;
    margin-left: -52px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul ul{
    margin-left: 130px;
    margin-top: -37px;
}